# Django Settings
# ⚠️  IMPORTANT: Générez une SECRET_KEY sécurisée avec:
# python manage.py generate_secret_key --output .env
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database Settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=database
DB_PORT=5432


985b504d64bff6038f0ab1596e40c2cdaa6890e7
